@addTagHelper *, Kendo.Mvc
@using Kendo.Mvc.UI
@* @using DemoProjectWebApp.Services; *@
@model DemoProjectWebApp.Controllers.HomeController.SetupTileModel
@inject DemoProjectWebApp.DAO.ApplicationDataService AppData

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    

}



  <div class="container-fluid p-4">
            <!-- Stats Cards -->
        <h2>Home</h2>            

  </div>