
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="au theme template">
	<meta name="author" content="Hau Nguyen">
	<meta name="keywords" content="au theme template">
	<title>@ViewData["Title"] - Travel</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	@* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
	@* <link rel="stylesheet" href="~/Travel.styles.css" asp-append-version="true" /> *@
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/styles.css" />

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	@* Add the Kendo Bootstrap theme: *@
	@*<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/jquery/jquery.unobtrusive-ajax.min.js"></script>*@
	@*<link href="https://kendo.cdn.telerik.com/2022.2.621/styles/kendo.material-main.min.css" rel="stylesheet" type="text/css" />*@
	<link href="~/css/kendo.material-main.min.css" rel="stylesheet" type="text/css" />
	<style>
		.text-danger-popup {
			margin-left: 200px;
			color: red;
			font-size: medium;
			margin-top: -5px;
		}

		.viewmodeclose {
			background-color: #18407C;
			color: white;
			border: none;
			cursor: pointer;
			font-size: 14px;
			padding: 5px 10px;
			border-radius: 5px;
		}

		.reuqest {
			margin-bottom: 15px;
		}

		.new-head {
			padding: 5px 15px;
			width: auto;
			color: white;
			background-color: #18407C;
			border-radius: 5px;
			border-radius: 5px;
			margin-bottom: 15px;
		}

		.fields-box {
			border: 2px solid black;
		}


		.k-filterable .k-header {
			text-align: left !important;
			margin-left: -10px;
			background-color: #c6ecc6;
		}

		.k-grid-toolbar {
			display: flex;
			justify-content: flex-start; /* Align toolbar buttons (like search) to the left */
		}

		.k-grid-pager {
			background-color: #c6ecc6;
		}

		/* Adjust the filter input box */
		.k-filtercell .k-filterinput {
			text-align: left !important; /* Align filter input to the left */
			background-color: #c6ecc6;
		}

		/* Align the filter dropdowns */
		.k-filtercell .k-dropdown {
			text-align: left !important; /* Align filter dropdown to the left */
			background-color: #c6ecc6;
		}

		/* Optional: Adjust the filter button position */
		.k-grid-toolbar .k-button {
			margin-right: 10px; /* Give some space between buttons if necessary */
			background-color: #c6ecc6;
		}



		/* Optional: Add some padding if necessary */
		.k-grid .k-filter-cell .k-filter-menu .k-textbox {
			padding-right: 5px; /* Add padding to prevent any unwanted border */
		}

		.k-grid-toolbar .k-button {
			background-color: #18407C; /* Your desired background color */
			color: white; /* Your desired text color */
			border: none; /* Optional: Remove border */
		}

			/* Change hover effect */
			.k-grid-toolbar .k-button:hover {
				background-color: #8dc63f; /* Hover background color */
				color: white; /* Text color on hover */
			}
		/* Apply background color for even rows */

		.k-grid tr:nth-child(even) {
			/* background-color: green; */
			color: black;
		}

		.k-button-md {
			padding: 2px 8px;
		}
		/* Apply background color for odd rows */
		.k-grid tr:nth-child(odd) {
			background-color: #f0f2f5;
		}

		#first {
			padding: 8px;
		}

		.k-grid tbody td {
			padding: 8px;
			line-height: 16px;
		}


		.k-grid tr td {
			border: 1px solid darkgrey;
			background-color: #ecf9ec;
		}

		.k-grid table tr:hover td {
			background: #18407C !important;
			cursor: pointer !important;
			color: white;
		}

	</style>
	</style>
	@* Add the the jQuery script from the Telerik CDN: *@
	<script src="~/custom/vendor/jquery/jquery.min.js"></script>
	@*src="https://kendo.cdn.telerik.com/2022.2.621/js/jquery.min.js"*@
	@*<script src="https://kendo.cdn.telerik.com/2022.2.621/js/kendo.all.min.js"></script>*@
	<script src="~/js/kendo.all.min.js"></script>
	@*<script src="https://kendo.cdn.telerik.com/2022.2.621/js/kendo.aspnetmvc.min.js"></script>*@
	<script src="~/js/kendo.aspnetmvc.min.js"></script>
	@*Telerik Stuff*@
	@*<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>*@
	<script src="~/js/jszip.min.js"></script>
	<!-- Title Page-->
	<!-- Fontfaces CSS-->
	<link href="~/css/font-face.css" rel="stylesheet" media="all">
	<link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
	<link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
	<link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

	<!-- Bootstrap CSS-->
	<link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

	<!-- Vendor CSS-->
	@* <link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all"> *@
	<link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
	<link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
	<link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
	<link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
	<link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
	<link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

	<!-- Main CSS-->
	<link href="~/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition" style="z-index:100">
	@* <div class="page-wrapper"> *@
	<div>
		<!-- PAGE CONTAINER-->
		<div>
		
		
			<!-- MAIN CONTENT-->
							<div class="row">
							
								@RenderBody()

							</div>



		</div>
		<!-- END PAGE CONTAINER-->

	</div>

	<!-- Jquery JS-->
	@* <script src="~/vendor/jquery-3.2.1.min.js"></script> *@
	<!-- Bootstrap JS-->
	<script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
	<script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
	<!-- Vendor JS       -->
	<script src="~/vendor/slick/slick.min.js">
	</script>
	<script src="~/vendor/wow/wow.min.js"></script>
	@* <script src="~/vendor/animsition/animsition.min.js"></script> *@
	<script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
	</script>
	<script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
	<script src="~/vendor/counter-up/jquery.counterup.min.js">
	</script>
	<script src="~/vendor/circle-progress/circle-progress.min.js"></script>
	<script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
	<script src="~/vendor/select2/select2.min.js">
	</script>
	<script>
		$(document).ready(function () {
			var dropdown = $("#territories").data("kendoDropDownList");
			var data = [
				{ TerritoryID: 1, TerritoryDescription: "North Region" },
				{ TerritoryID: 2, TerritoryDescription: "South Region" },
				{ TerritoryID: 3, TerritoryDescription: "East Region" },
				{ TerritoryID: 4, TerritoryDescription: "West Region" }
			];

			// Set the hardcoded data directly to the DataSource of the DropDownList
			dropdown.setDataSource(data);
		});
	</script>
	<!-- Main JS-->
	<script src="~/js/main.js"></script>
	@await RenderSectionAsync("Scripts", required: false)


</body>

</html>
<!-- end document-->
